.spons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spons-gold {
  height: 200px;
  width: 250px;
}
.spons-silver {
  height: 150px;
  width: 200px;
}
.spons-brons {
  height: 100px;
  width: 150px;
}

.spons-img-gold {
  max-height: 150px;
  max-width: 220px;
}

.spons-img-silver {
  max-height: 100px;
  max-width: 170px;
}
.spons-img-brons {
  max-height: 70px;
  max-width: 120px;
}

.sponsor-content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1200px) {
  .sponsor-content {
    height: 200px; /* Temp to limit sponsors if small screen. TODO Better solution */
    overflow: hidden; 
  }
}


