.spons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spons-GOLD {
  height: 200px;
  width: 250px;
}
.spons-SILVER {
  height: 150px;
  width: 200px;
}
.spons-BRONZE {
  height: 100px;
  width: 150px;
}

.spons-img-GOLD {
  max-height: 150px;
  max-width: 220px;
}

.spons-img-SILVER {
  max-height: 100px;
  max-width: 170px;
}
.spons-img-BRONZE {
  max-height: 70px;
  max-width: 120px;
}

.sponsor-content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1200px) {
  .sponsor-content {
    flex-wrap: nowrap;
    overflow: auto; 
    justify-content: flex-start;
  }
}


