@import "./components/challenge/coronaEdition.css";
@import "./components/sponsor/sponsor.css";
@import "./components/media/media.css";
@import "./components/register/register.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: rgb(15, 15, 15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #f6f6f6;
  min-height: 100vh;
}

label {
  color: rgb(0, 0, 0);
}

h1 {
  color: rgb(15, 15, 15);
  text-align: center;
}

h2 {
  color: rgb(15, 15, 15);
}

h3 {
  color: rgb(15, 15, 15);
}

a {
  text-decoration: none;
}

p {
  color: rgb(15, 15, 15);
}

.indent {
  margin-left: 20px;
}

b {
  color: rgb(15, 15, 15);
}

i {
  color: rgb(71, 71, 71);
}

.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #d3d1d1;
  text-decoration: none;
}

.nav-title {
  font-weight: bold;
  transition: all 0.1s ease-out;
}

.nav-title:hover {
  color: rgb(201, 197, 197);
}

.card-box {
  display: flex;
  position: relative;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  background-color: white;
  border-radius: 10px;
  padding: 32px 24px;
  margin: 12px 0px 12px 0px;
  text-decoration: none;
  flex-wrap: wrap;
}

.card-box-hoverable {
  display: flex;
  position: relative;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  background-color: white;
  border-radius: 10px;
  padding: 32px 24px;
  margin: 12px 0px 12px 0px;
  text-decoration: none;
  flex-wrap: wrap;
  transition: all 0.2s ease-out;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
}

.card-box-hoverable:hover {
  box-shadow: 0px 6px 10px rgba(38, 38, 38, 0.2);
  -webkit-transform: scale(1.05) translate3d(0, 0, 0) perspective(1px);
  -moz-transform: scale(1.05) translate3d(0, 0, 0) perspective(1px);
  -o-transform: scale(1.05) translate3d(0, 0, 0) perspective(1px);
  -ms-transform: scale(1.05) translate3d(0, 0, 0) perspective(1px);
  transform: scale(1.05) translate3d(0, 0, 0) perspective(1px);
}

.social-container {
  background-color: #fff;
  width: 50;
  height: 50;
  border-radius: 5;
}

.grecaptcha-badge {
  visibility: hidden;
}

.donate-home {
  visibility: hidden;
  height: 0;
}

@media (max-width: 1200px) {
  .donate {
    visibility: hidden;
  }
  .donate-home {
    visibility: visible;
    height: 100%;
  }
}
