*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: rgb(15, 15, 15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #f6f6f6;
  min-height: 100vh;
}

label {
  color: rgb(0, 0, 0);
}

h1 {
  color: rgb(15, 15, 15);
  text-align: center;
}

h2 {
  color: rgb(15, 15, 15);
}

h3 {
  color: rgb(15, 15, 15);
}

a {
  text-decoration: none;
}

a :hover {
  filter: opacity(70%);
}

p {
  color: rgb(15, 15, 15);
}

b {
  color: rgb(15, 15, 15);
}

i {
  color: rgb(71, 71, 71);
}

.inactive {
  color: #fff;
  text-decoration: none;
}

.video {
  margin: 2vh;
}

.active {
  color: #d3d1d1;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(201, 197, 197);
}

.navbar-brand:hover {
  color: rgb(201, 197, 197);
}

.dropdown .dropdown-toggle {
  color: #fff;
}
.dropdown .dropdown-toggle:hover {
  color: rgb(201, 197, 197);
}

.tabLink:hover {
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  font-size: 30;
}

.spons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spons-gold {
  height: 200px;
  width: 250px;
}
.spons-silver {
  height: 150px;
  width: 200px;
}
.spons-brons {
  height: 100px;
  width: 150px;
}

.spons-img-gold {
  max-height: 150px;
  max-width: 200px;
}

.spons-img-silver {
  max-height: 100px;
  max-width: 150px;
}
.spons-img-brons {
  max-height: 50px;
  max-width: 100px;
}

.video-wrapper {
  width: auto;
  height: auto;
}

.video-player {
  padding-top: 56.25%;
  position: relative;
}

.article-seperator {
  height: 50px;
  background-color: #11999e;
}

.social-container {
  background-color: #fff;
  width: 50;
  height: 50;
  border-radius: 5;
}

.donate-home {
  visibility: hidden;
  height: 0;
}

.media-container :hover {
  filter: opacity(80%);
  text-decoration: none;
}

@media (max-width: 1040px) {
  .donate {
    visibility: hidden;
  }
  .donate-home {
    visibility: visible;
    height: 100%;
  }
}
