.register-divider {
  border-top: 2px solid #bbb;
}

@keyframes angleJump {
  0% {
    transform: translate(0%, -10%) scale(1.2, 0.8);
  }

  30%,
  70% {
    transform: translate(0%, -50%) scale(1, 1);
  }

  100% {
    transform: translate(0%, -10%) scale(1.2, 0.8);
  }
}

.angle-down {
  margin-top: 4px;
  animation: angleJump 2s infinite;
  color: #11999E;
}

.consent-checkbox {
  margin-bottom: 0px;
}

.clothes-select {
  margin-bottom: 10px;
  border-style: dashed;
  border-color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 10px;
}

.shirt-row {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.no-clothed-chosen {
  opacity: 0.6;
}

.tab-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #11999E;
  transform-origin: 0 0;
  transition: transform .25s;
}

.tab-underline.second {
  transform: translateX(100%);
}

.allowed-company-text-bg {
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  background-color: #ebf5fa;
}

@media (min-width: 770px) {
  .register-divider {
    display: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  display: none;
}

select {
  display: block;
}

/* CSS for payment successful/failed*/

.redirect-page-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 50px;
}

.redirect-page-container.successful {
  background-color: #d4edda;
  color: #155724;
}


.redirect-page-container.cancelled {
  background-color: #f8d7da;
  color: #721c24;
}

.icon-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-link {
  text-decoration: none;
  color: #007bff;
  padding: 5px;
  transition: color 0.3s ease;
}

.icon {
  transition: color 0.2s ease;
  font-Size: 50px;
}

.icon.facebook {
  color: #1877F2;
}

.icon.instagram {
  background: linear-gradient(45deg, #833AB4, #F77737, #FD1D1D, #FCAF45);
  -webkit-background-clip: text;
  color: transparent;
}

.icon.youtube {
  color: #ff0000;
}

.video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Add Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  .redirect-page-container {
    margin: 20px;
    padding: 15px;
  }

  .icon-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
  }

  .icon {
    font-size: 40px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .redirect-page-container {
    margin: 10px;
    padding: 10px;
  }

  .icon {
    font-size: 30px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
